@import 'vars';

.Hawkins{
    position: absolute;
    z-index: 1;
    top:70px;
    animation: hawkingsAppear 4.5s;
    animation-timing-function: cubic-bezier(1,0,.75,-0.15);
}
@keyframes hawkingsAppear {
    0%{opacity: 0;
    }
    100%{opacity: 1;}
}

#mainModal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-left: 20px;
    margin-right: 20px;
    height: 50vh;
    overflow:hidden
}
#modalTitle{
    color: aliceblue;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 10px;
    line-height: 95%;
    font-size: 45px; 
    font-family: 'Reem Kufi Fun', sans-serif; 
}
#modalTitle p{
    text-shadow: var(--text-shadow-white);
}
#modalTitle span{
    color: var(--red);
    text-shadow: var(--text-shadow-red);
    font-size: 50px;
}
#indiana{
    margin: 0px;
    padding: 0px;
    position:absolute; 
    font-size: 12px;
    top:165px;
    left: 60px;
    height: 12px;
    line-height: 12px;
    background-color: black;
}
#modalText{
    color: aliceblue;
    font-size: 14px;
    margin-right: 145px;    
}


