@import 'vars';

.Home {
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}

.characterContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: url('@images/main-background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.character {
	width: 250px;
}

#lucas {
	z-index: 1;
	margin-left: -10px;
	margin-right: -140px;
	filter: grayscale(100%);
}

#dustin {
	z-index: 2;
	margin-right: -145px;
	filter: grayscale(100%);
}

#eleven {
	z-index: 3;
	margin-right: -140px;
}

#will {
	z-index: 2;
	margin-right: -10px;
	filter: grayscale(100%);
}

#mainTitleContainer {
	position: absolute;
	z-index: 4;
	width: 555px;
	height: 335.56px;
}

.mainTitle {
	font-family: BenguiatBold;
	color: var(--red);
	text-transform: uppercase;
	position: absolute;
	font-size: 60px;
	animation: textMove 1.8s ease-out;
	/*filter: grayscale(100%) opacity(45%);*/
}

.mainTitle:nth-child(1) {
	left: 30px;
	top: 45px;
	font-size: 80px;
}

.mainTitle:nth-child(2) {
	left: 155px;
	top: 130px;
}
.mainTitle:nth-child(3) {
	left: 85px;
	bottom: 170px;
}
.mainTitle:nth-child(4) {
	left: 375px;
	bottom: 170px;
}
.mainTitle:nth-child(5) {
	left: 495px;
	top: 15px;
}
.mainTitle:nth-child(6) {
	left: 520px;
	top: 90px;
	font-size: 80px;
}
.mainTitle:nth-child(7) {
	left: 30px;
	top: 170px;
}.mainTitle:nth-child(8) {
	left: 180px;
	top: 200px;
}
.mainTitle:nth-child(9) {
	left: 250px;
	top: 100px;
}
.mainTitle:nth-child(10) {
	left: 280px;
	top: 190px;
}
.mainTitle:nth-child(11) {
	left: 370px;
	top: 185px;
}
.mainTitle:nth-child(12) {
	left: 480px;
	top: 185px;
}
.underline{
	width: 5px;
	height: 30px;
	position: absolute;
	z-index: 4;
	color: var(--red);
}

#verticalBar {
	position: absolute;
	height: 280px;
	width: 7px;
	background-color: white;
	z-index: 4;
	left: 40px;
	box-shadow: 0 0 20px var(--red),
		0 0 20px var(--red),
		0 0 20px var(--red),
		0 0 20px var(--red),
		0 0 30px red,
		0 0 30px red,
		0 0 30px red;
	animation: barMove 1.5s ease-out;
}

@keyframes barMove {
	0% {
		left: 540px;
		opacity: 0.9;
	}

	100% {
		left: 40px;
		opacity: 1;
	}
}